doctype html
html
 head
   title #{title}
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header
         h1 #{title}
   div
     div
       h1 Paese: #{result} 
         p Regione #{result.regionName}
         p
         | #{result.City}
         p
         | #{result.ZipCode}
         p
         | #{result.Latitude}
         p
         | #{result.Longitude}
         p
         | #{result.Isp}
         p
         | #{result.MobileQuery}
       